<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="myApp" ng-controller="rootsController">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Arabic Roots</title>
	<!-- CSS Files -->
    <link rel="stylesheet" href="css/app.css"/>
	<link type="text/css" href="css/base.css" rel="stylesheet" />
	<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="css/bootstrap-responsive.min.css" rel="stylesheet" />
  </head>


<script type="text/ng-template" id="partials/roots.html">
  <div style="width: 80px;overflow:auto;">
	<input type=text ng-model="root_keyword" ng-change="change()" class="search-query" placeholder="Search roots..." style="width:59%;align:center;margin-bottom:11px;" />
	<TABLE class="table table-striped table-bordered table-condensed table-hover" style="width:95%;margin-left:2px!important;">
	  <THEAD ng-show="(roots.split(' ') | filter:root_keyword).length > 0">
		<tr><TH>Root</TH></tr>
	  </THEAD>
	  <TBODY>
		<tr ng-repeat="item in (roots.split(' ') | filter:(root_keyword || input)) | limitTo:pageSize*2"  ng-click="tableRowClicked(synonym, $index)">
			<!--<td ng-bind="1 + $index"></td>-->
			<td><!--<span ng-bind="EnToAr( synonymdetail.root )" class=arabic></span>-->
				<span class="muted" ng-show="!item">-</span>
				<span class="arabicsmaller" ng-show="item">
				  <A HREF="http://corpus.quran.com/search.jsp?q=root:{{item}}" TARGET=_>
					<span dir=rtl class=r0 ng-bind="EnToAr(item[0])"></span>&zwnj;<span class=r1 ng-bind="EnToAr(item[1])"></span>&zwnj;<span class=r2 ng-bind="EnToAr(item[2])"></span>&zwnj;<span class=r3 ng-bind="EnToAr(item.substring(3))"></span>
				  </A>
				</span>
			</td>
		</tr>
	  </TBODY>
	</TABLE>
  </div>
</script>


<script type="text/ng-template" id="partials/tree.html">
  <div style="zwidth: 80px;overflow:auto;height:640px;">
	<input type=text ng-model="tree_root" class="search-query" placeholder="Search roots & lemmas..." style="width:59%;align:center;margin-bottom:11px;" />
	<TABLE class="table table-striped table-bordered table-condensed table-hover" style="width:95%;margin-left:2px!important;">
	  <THEAD ng-show="(roots.split(' ') | filter:root_keyword).length > 0">
		<tr><TH>Root</TH><TH>Lemmas</TH></tr>
	  </THEAD>
	  <TBODY>
		<tr ng-repeat="item in (tree | filter:(tree_root || input)) | limitTo:15"  ng-click="tableRowClicked(synonym, $index)">
			<!--<td ng-bind="1 + $index"></td>-->
			<td>
				<span class=arabicsmall>
					<A HREF="http://corpus.quran.com/search.jsp?q=root:{{item.r}}" TARGET=_>
						<span dir=rtl class=r0 ng-bind="EnToAr(item.r[0])"></span>&zwnj;<span class=r1 ng-bind="EnToAr(item.r[1])"></span>&zwnj;<span class=r2 ng-bind="EnToAr(item.r[2])"></span>&zwnj;<span class=r3 ng-bind="EnToAr(item.r.substring(3))"></span>
					</A>
				</span>
				<span>
					<A HREF="http://corpus.quran.com/search.jsp?q=root:{{item.r}}" TARGET=_>
						<span class="badge badge-reverse" ng-bind="sumOfArray(item.ln)"></span>
					</A>
				</span>
			</td>
			<td>
				<ul ng-repeat="lem in item.l">
					<li>
						<span class=arabicsmall ng-bind="EnToAr(lem)"></span>&nbsp;
						<A HREF="http://corpus.quran.com/search.jsp?q=lem:{{lem}}" TARGET=_>
							<span class="badge badge-info" ng-bind="item.ln[ $index ]"></span>
						</A>
					</li>
				</ul>
			</td>
		</tr>
	  </TBODY>
	</TABLE>
  </div>
</script>


<script type="text/ng-template" id="partials/searchpager.html">
 <div>
	<p ng-show="!!input && (searchhits | filter:input).length==0"  class="alert alert-warn">There was no match for given query.</p>
	<div ng-show="(searchhits | filter:input).length > 0"  class="alert alert-success">
	<strong><span class=arabicsmall ng-bind="( searchhits | filter:input ).length"></span></strong> matches for </span><strong><span class=arabicsmall ng-bind="(EnToAr(input) || 'all roots')"></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;
	<button ng-disabled="currentPage == 0" ng-click="pageChange(-1)">Previous</button>
	Page <span class="badge badge-inverse" ng-bind="currentPage+1"></span> / 
		 <span class="badge" ng-bind="numberOfPages(  ( searchhits | filter:input ).length  )"></span>
	<button ng-disabled="currentPage >= (searchhits | filter:input).length/pageSize - 1" ng-click="pageChange(+1)">Next</button>
	<span xclass="margin-left:20px;xfloat:right">
		Sort by: 
		<select ng-model="orderProp" ng-change="setOrderProp()">
		  <option value=alphabet>Alphabetical</name>
		  <option value=group>Arrangement</name>
		  <option value=-count># of occurences</name>
		</select>
	</span>
  </div>
 </div>
</script>



<script type="text/ng-template" id="partials/searchresults.html">
  <div ng-include src="'partials/searchpager.html'"></div>
  <TABLE class="table table-striped table-bordered table-condensed">
	  <THEAD ng-show="(searchhits | filter:input).length > 0">
		<tr><TH>#</TH><TH>Root</TH><TH>&nbsp;</TH><TH>set#</TH><TH>&nbsp;</TH><TH># occured</TH><TH>dictionary</TH><TH>Meaning</TH></tr>
	  </THEAD><TBODY>
	  <tr ng-repeat="hit in ((searchhits) | filter:input | orderBy:orderProp  | startFrom:currentPage*pageSize | limitTo:pageSize)">
		<td><SPAN ng-bind="1 + $index + currentPage*pageSize "></SPAN></td>
		<td><span class=arabic><A HREF="http://corpus.quran.com/search.jsp?q=root:{{hit.root}}" TARGET=_>
				<span class=r0 ng-bind="hit.r0"></span><span class="tiny">&nbsp;</span><span class=r1 ng-bind="hit.r1"></span><span class="tiny">&nbsp;</span><span class=r2 ng-bind="hit.r2"></span><span class="tiny">&nbsp;</span><span class=r3 ng-bind="hit.r3"></span></A>
			</span></td>
		<td><span ng-bind="mapRootToPhonetical(hit.root)"></span></td>
		<td><span ng-bind=" (hit.group); "></span></td>
		<td><span class='arabicsmall' ng-bind=" mapToAlphabet(hit.alphabet) "></span></td>
		<td><A HREF="http://corpus.quran.com/qurandictionary.jsp?q={{hit.root}}" TARGET=_ ng-bind=" hit.count "></A></td>
		<td class="muted"><A HREF="http://ejtaal.net/m/aa/#q={{hit.root}}" TARGET=_ TITLE="Hans Wehr, Lane, Hava dictionary"><i class="icon-globe"></i></A>&nbsp;&nbsp;&nbsp;&nbsp;
			<A HREF="http://dictionary.speakarabicquickly.com/dictionary/search/{{ EnToAr(hit.root) }}" TARGET=_ TITLE="Modern dictionary"><i class="icon-hand-up"></i></A></td>
		<td><p class="showMe" ng-bind="getMeaning( hit.root ).substring(0, 150) ">
			<a class="more" href="#url" tabindex="1">more »</a> 
			<a class="less" href="#url" tabindex="1">« less</a>
			<span><br><span ng-bind="getMeaning( hit.root ).substring(150) "></span>
			&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="http://www.studyquran.co.uk/{{_MAP_PRL[hit.root[0]]}}.htm" TARGET="_" TITLE="Lookup meaning in PRL (Project Root List)"><i class="icon-book"></i></A>
			</span></p>
		</td>
	  </tr>
	  </TBODY>
  </TABLE>
</script>


<script type="text/ng-template" id="partials/index.html">
	<div class="container-fluid">
	  <div class="row-fluid">
		<div class="span1">
			<div ng-include src="'partials/roots.html'"></div></div>
		<div class="span3">
			<div ng-include src="'partials/tree.html'"></div></div>
		<div class="span8">
			<div ng-include src="'partials/searchresults.html'"></div>
		</div>
	  </div>
	</div>
</script>


  <body onload="init();">
  	<div class="container-fluid">
	  <div class="row-fluid">
		<div style="float:right">[<b><A HREF=index.html>Tool 1</A> &nbsp;|&nbsp; <A HREF=root.html>Tool 2</A></b>]
		</div>
		<div class=clear>
		 <form ng-submit="submit()" class="form-search">
			<div class="span4">
				<input type=text id="input" ng-model="input" ng-change="change()" class="search-query" placeholder="Enter root here... ex: qrr" />
				<input type="submit" text="Go" />
				<A HREF="javascript:history.go(0)" TITLE="Click to Refresh page"><i class="icon-refresh pull-right"></i></A>
			</div>
			<div class="span8">
			  <div ng-switch on="rootoutput != null" class="ngview">
			   <div ng-switch-when="true">
				<div class="span3 well alert alert-info" ng-repeat="root in rootoutput">
					<span><!--Letter --><span class="badge badge-success arabicsmall" ng-bind="root.letter"></span>:    <span ng-bind="root.info"></span>
					<A HREF="http://ia600806.us.archive.org/34/items/MeaningOfTheSemitLetters/AlphabetOrigin.pdf" TARGET=_><i class="icon-info-sign"></i></A></span>
				</div>
			    <div class="row show-grid alert alert-success clearfix" ng-repeat="meaning in rootmeaning">
				  <span><!--Root --><span class="badge badge-info arabic" ng-bind="meaning.root"></span>:     <span ng-bind="meaning.info"></span></span>
			    </div>
			  </div>
			 </div>
			</div>
		 </form>
		</div>
	  </div>
	</div>
	
	<div ng-include src="'partials/index.html'"></div>
	<div ng-include src="'partials/graph.html'"></div>
	
  <!--------------------------------->
  <script type="text/ng-template" id="partials/graph.html">
  </script>

  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <script language="javascript" type="text/javascript" src="lib/jquery-1.7.min.js"></script>
  <script language="javascript" type="text/javascript" src="lib/underscore-min.js"></script>
  <!-- JIT Library File -->
  <script language="javascript" type="text/javascript" src="js/jit-yc.js"></script>
  <script language="javascript" type="text/javascript" src="js/mapper.js"></script>
  <script language="javascript" type="text/javascript" src="js/graph.js"></script>
  <!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
</body>
</html>